@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-family: sans-serif;
  /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f05053,
    #e1eec3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f05053, #e1eec3);
}

input[type="submit"] {
  all: unset;
  margin-left: 10px;
  background-color: rgb(62, 87, 197);
  border-radius: 2px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  /* padding: 5px, 5px; */
}
.follow {
  all: unset;
  margin-left: 10px;
  background-color: rgb(62, 87, 197);
  border-radius: 2px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}
.textarea {
  all: unset;
  width: 50vw;
  height: auto;
  min-height: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 1px 1px 1px #999;
  padding: 10px 10px;
}

.namecomment {
  all: unset;
  width: 50vw;
  height: auto;
  min-height: auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}
.tweet {
  padding: 10px, 10px;
}

.primaryButton {
  cursor: pointer;
  background: #00cc66;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeIcon {
  cursor: pointer;
  position: absolute;
  top: -3%;
  right: -2%;
}

.editIcon {
  cursor: pointer;
  position: absolute;
  top: -3.4%;
  right: 20px;
}

.pageContainer,
.profile,
.listingDetails,
.explore {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .pageContainer,
  .profile,
  .listingDetails,
  .explore {
    margin: 3rem;
  }
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
}

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  /* background-color: #ffffff; */
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f05053,
    #e1eec3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f05053, #e1eec3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarNav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}
.navbarListItemNameActive {
  color: #2c2c2c;
}

.passwordInputDiv {
  position: relative;
}

.registerLink {
  margin-top: 4rem;
  color: #00cc66;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}
@media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
}

.exploreHeading,
.exploreCategoryHeading {
  font-weight: 700;
}

.exploreCategoryHeading {
  margin-top: 3rem;
}

.exploreCategories {
  display: flex;
  justify-content: space-between;
}
.exploreCategories a {
  width: 48%;
}

.exploreCategoryImg {
  min-height: 115px;
  height: 15vw;
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 0 auto;
}

.exploreCategoryName {
  font-weight: 500;
  text-align: left;
}

.profile {
  width: 70vw;
  margin-bottom: 1rem;
}
.marginB {
  margin-bottom: 10rem;
}
.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.logOut {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  width: 15rem;
  border-radius: 1rem;
}

.profileDetailsHeader {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
}

.personalDetailsText {
  font-weight: 600;
  font-size: x-large;
  color: #6d44b8;
}

.changePersonalDetails {
  cursor: pointer;
  font-weight: 600;
  font-size: x-large;
  color: #6d44b8;
}

.profileCard {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  width: auto;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profileNameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
  font-weight: 500;
}
.profileEmailActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.formLabel {
  font-weight: 600;
  margin-top: 1rem;
  display: block;
}

.formButtons {
  display: flex;
}

.formButton,
.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile,
.formButtonActive {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formButtonActive {
  background-color: #00cc66;
  color: #ffffff;
}

.flex {
  display: flex;
}

.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.formInputSmall,
.formInputFile {
  margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
}

.formInputName {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.formInputFile {
  width: 70vw;
  height: auto;
}
.formInputFile::-webkit-file-upload-button {
  background-color: #00cc66;
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.tweet-container {
  width: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(50, 120, 80, 0.2);
  display: flex;
  padding: 10px;
  margin: 10px;
}
.tt-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.text-container {
  width: 90%;
  display: flex;
}
.comment-icon {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: block;
}
.profile-icon {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: block;
}
.commentime-container {
  width: auto;
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.count {
  padding: 3px;
}
.count2 {
  padding: 5px;
}
.img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 24px;
  display: block;
}
.comment-container {
  width: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(50, 120, 80, 0.2);
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}
/* Profile Section */
.p-container {
  width: auto;
  height: auto;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(50, 120, 80, 0.2);
  background: rgb(192, 180, 180);
}
.name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col-container {
  display: flex;
  margin-left: 15px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.time-container {
  width: auto;
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profileaa-user-name {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 300;
}
.p-margin {
  padding: 20px;
}
.formfile {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
}
.profileimage-container {
  width: 100%;
  display: flex;
  margin: 5px;
  flex-direction: row;
  justify-content: flex-start;
}

.logOut {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
/*login */

.main {
  width: 350px;
  height: 500px;
  /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
  background: #ecb016; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f05053,
    #ecb016
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f05053,
    #ecb016
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.singup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}
.forgotPasswordLink {
  cursor: pointer;
  color: #6d44b8;
  font-weight: 600;
  text-align: center;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #573b8a;
  transform: scale(0.6);
}
#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .singup label {
  transform: scale(0.6);
}
a {
  text-decoration: none;
  display: block;
  color: #000000;
}

.me {
  margin: 25px;
  text-align: center;
}
.me a {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  background: #010101;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s;
}
.me a:hover {
  color: #fff;
  background: #ffa200;
  transition: all easy 0.3s;
}

.rowpass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rowseeen {
  display: flex;
  flex-direction: row;
  width: auto;
}
.showPassword {
  cursor: pointer;
  position: absolute;
  right: 1%;
  padding: 1rem;
  margin-top: 5px;
  margin-left: 5px;
}
.w-input {
  padding: 15px;
}
signInBar,
.signUpBar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
  cursor: pointer;
}
.signInButton,
.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #00cc66;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .signInButton,
  .signUpButton {
    margin-left: 3rem;
  }
}
